*{
    padding:0;
    margin:0;


}
body{
    background:rgb(163, 163, 163);
}
#top_bar{
    height:100px;
    background:#ffffef;
}
#name{
    float:left;
    margin-left:250px;
    height:100px;
    background:#00c7bd;
}
h1{
    margin:35px;
    color:#ffffef;
}
a{
    font-size:22px;
    text-decoration:none;
    color:rgb(102,102,102);
    margin-left:10px;
}
nav{
    float:right;
    margin:35px;
    margin-right:250px;
}
#main{
    clear:both;
    float:left;
    margin-left:250px;
    margin-right:250px;
    background:#ffffef;
    margin-top:50px;
}
img{
    height:200px;
    width:300px;
    float:left;
    padding:20px;
}
p{
    padding:20px;
    font-size: 20px;
    color:rgb(102, 102, 102);
}
#about{
    margin:20px;
    color:rgb(102, 102, 102);
}
hr{
    margin:20px;
}